.heading{
color:white;
font-size: 24px;
width: 100%;
margin: 0px;
}
.NOTE{
    color:black;
    font-size: 15px;
}
.div_speed{
    float:left;
}
.div_speed_image{
    width: 300px;
    border-radius: 100px;
}
#Speed{
    font-size:23px;
}
.div_volume{
    float:right;
}
.div_volume_image{
    width: 300px;
    border-radius: 100%;
}
#Volume{
    font-size: 23px;
}
.play_button{
    width: 130px;
    font-size: 24;
}
canvas{
    border:5px solid white;
    border-radius: 20px;
    margin-top: 150px;
}